{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="row justify-content-center">Page d'accueil</h1>
    <div class="row justify-content-center">
        <a class="btn btn-primary" href="{{ path('app_session_ajout') }}">Ajouter un article</a>
        <a class="btn btn-success" href="{{ path('app_panier') }}">Panier</a>
    </div>
    
{% endblock %}